@using CommonLib
@using ObjectInfo
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Bài viết";

    CSE_PostsInfo posts_info = new CSE_PostsInfo();
    if (ViewBag.PostInfo != null)
    {
        posts_info = ViewBag.PostInfo;
    }
}

@if (posts_info?.Id > 0)
{
    <div class="container-xxl container">
        <div class="container-inner-news">
            <div class="row news-row">
                <div class="col-lg-8">
                    <div class="news-container">
                        <h3 class="news-big-title">@posts_info.Title</h3>
                        <span class="news-time">@posts_info.Start_Date</span>
                        <p>
                            @Html.Raw(posts_info.Content)
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="more-news-container">
                        <h3>
                            <a class="more-news-title-link" href="">Đọc thêm bài viết khác</a>
                        </h3>
                        @Html.Partial("_Partail_List_New_Post.cshtml")
                    </div>
                </div>
            </div>
        </div>

    </div>

    @if(posts_info.Category_Id == "SUKIEN")
    {
        @Html.Partial("_Partial_List_Post_Suggest.cshtml")
    }
}


