@using ObjectInfo
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Trang chủ";


    List<CSE_PostsInfo> _LstNews = new List<CSE_PostsInfo>();
    if (ViewBag.LstNews != null)
    {
        _LstNews = ViewBag.LstNews;
    }

    List<CSE_PostsInfo> _LstEvent = new List<CSE_PostsInfo>();
    if (ViewBag.LstEvent != null)
    {
        _LstEvent = ViewBag.LstEvent;
    }
}
<!-- content -->
<div class="container-content">
    <div class="slider-home">
        <div id="carouselExampleControlsNoTouching" class="carousel slide carousel-fade" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="big-banner" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/shutterstock_513707497.jpg" class="d-block w-100" alt="...">
                    <div class="slider-content">
                        <h3>Chào mừng tới</h3>
                        <h1>Khoa Công nghệ thông tin</h1>
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="carousel-item">
                    <img class="big-banner" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2018/08/shutterstock_177301904.jpg" class="d-block w-100" alt="...">
                    <div class="slider-content">
                        <h3>Chào mừng tới</h3>
                        <h1>Khoa Công nghệ thông tin</h1>
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="carousel-item">
                    <div class="slider-content">
                        <h3>Chào mừng tới</h3>
                        <h1>Khoa Công nghệ thông tin</h1>
                    </div>
                    <img class="big-banner" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/shutterstock_726926179.jpg" class="d-block w-100" alt="...">
                    <div class="overlay"></div>
                </div>
            </div>


            <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container-fluid container-news-absolute">
        <div class="container-xxl container-md container">
            <div class="main-categories_container">
                <div class="row">
                    <div class="col-lg">
                        <div class="main-category-wrapper">
                            <div class="main-category_header">
                                <img width="10%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2018/08/hp2-col-1-icon.png" alt="">
                                <div>
                                    <h3>Tin tức</h3>
                                    <a href="#">Xem tiếp</a>
                                </div>
                            </div>
                            <div class="main-category-img">
                                <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/building-700x450.jpg" alt="">
                            </div>
                            <div class="main-category-content">
                                <p>
                                    A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.
                                </p>
                                <div>
                                    <a href="/danh-sach-bai-viet/BAOCSE">Xem tiếp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="main-category-wrapper">
                            <div class="main-category_header" style="background-color:var(--secondary-red);">
                                <img width="10%"  src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/book.png" alt="">
                                <div>
                                    <h3>Đào tạo</h3>
                                    <a>Chương trình đào tạo</a>
                                </div>
                            </div>
                            <div class="main-category-img">
                                <img width="100%"  src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/business-man-700x450.jpg" alt="">
                            </div>
                            <div class="main-category-content">
                                <p>
                                    Chương trình đào tạo khoa công nghệ thông tin đại học thủy lợi là một chương trình tiên tiến được cập nhập và đổi mới liên tục để bắt kịp xu hướng.
                                </p>
                                <div>
                                    <a href="/danh-sach-bai-viet/DAIHOC">Xem tiếp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="main-category-wrapper">
                            <div class="main-category_header" style="background-color:var(--third-red) ;">
                                <img width="10%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/sport-center.png" alt="">
                                <div>
                                    <h3>Chương trình</h3>
                                    <a>Xem tiếp</a>
                                </div>
                            </div>
                            <div class="main-category-img">
                                <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/working-700x450.jpg" alt="">
                            </div>
                            <div class="main-category-content">
                                <p>
                                    A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.
                                </p>
                                <div>
                                    <a href="">Chương trình</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>


<div class="container-xxl container">
    <div class="news-big-container">
        <div class="row">
            <div class="col-lg-4 col-mobile" style="margin-left: -12px;">
                <div class="title-news_wrapper">
                    <h3 class="news-title">Cse trên facebook</h3>
                </div>
                <div class="news-video-container">
                    <div class="news-video_wrapper">
                        <a href="" class="video-box">
                            <img width="100%" src="/Guest_Assets/Img/CSE_fanpage.png" alt="">
                            @*<span class="video-icon">
                                <img width="60%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/play-icon.png" alt="">
                                </span>*@
                        </a>

                    </div>
                    <div class="news-video-content">
                        <p>Take a tour in Kingster and you will find the best school in the state. The video will take you to every places in this school.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-mobile" style="margin-right:-12px ;">
                <div class="title-news_wrapper">
                    <h3 class="news-title">Tin tức khoa</h3>
                </div>
                <div class="news-list-container">
                    <div class="row">
                        @if (_LstNews != null && _LstNews.Count > 0)
                        {
                            foreach (CSE_PostsInfo item in _LstNews)
                            {
                                string title = item.Title;
                                if (item.Title.Length > 61)
                                    title = item.Title.Substring(0, 60) + "...";

                                <div class="col-lg-6">
                                    <div class="news-item-wrapper">
                                        <div class="news-item-avatar">
                                            <div class="avatar-overlay"></div>
                                            <img width="100%" src="@item.Thumbnail" alt="">
                                        </div>
                                        <div class="title-wrapper">
                                            <a>@item.Created_Date</a>
                                            <h3>
                                                <a href="#">@title</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <a href="/danh-sach-bai-viet/BAOCSE" class="more-news-btn">Đọc tin tức</a>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="about-us-container">
        <div class="container-xxl about-us-container-inner container">
            <h3>Về chúng tôi</h3>
            <div class="about-us-wrapper">
                <div class="row">
                    <div class="col-lg col-mobile">
                        <div class="about-us-item">
                            <span>Giải thưởng</span>
                            <h3>420</h3>
                            <p>Được trao tặng bởi các giáo sư đầu ngành trong nước và cả nước ngoài</p>
                        </div>

                    </div>
                    <div class="col-lg col-mobile">
                        <div class="about-us-item">
                            <span>Phòng thực hành</span>
                            <h3>32</h3>
                            <p>Được trao tặng bởi các giáo sư đầu ngành trong nước và cả nước ngoài</p>
                        </div>

                    </div>
                    <div class="col-lg col-mobile">
                        <div class="about-us-item">
                            <span>Chương trình đào tạo</span>
                            <h3>20</h3>
                            <p>Chương trình thuộc các hệ Kỹ sư, Thạc sỹ, Tiến sỹ</p>
                        </div>

                    </div>
                    <div class="col-lg col-mobile">
                        <div class="about-us-item">
                            <span>Đối tác</span>
                            <h3>120+</h3>
                            <p>Các doanh nghiệp trong nước, các nước phát triển</p>
                        </div>

                    </div>

                    <div class="col-lg">
                        <div class="about-us-item">
                            <span>Sinh viên</span>
                            <h3>4200+</h3>
                            <p>Thuộc top 1 điểm đầu vào khối A cao nhất mùa tuyển sinh 2022</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container-xxl container">
    <div class="events-container">
        <div class="events-title title-news_wrapper">
            <h3 class="news-title">CSE sự kiện</h3>
        </div>

        <div class="events-content-wrapper">
            <div class="events-list">
                @if (_LstEvent != null && _LstEvent.Count > 0)
                {
                    foreach (CSE_PostsInfo item in _LstEvent)
                    {
                        string title = item.Title;
                        if (item.Title.Length > 61)
                            title = item.Title.Substring(0, 60) + "...";

                        <div class="">
                            <div class="event-content">
                                <div class="event-thumbnail">
                                    <img width="100%" src="@item.Thumbnail" alt="">
                                </div>
                                <div class="items-events-wrap">
                                    <div class="events-start-date">
                                        <div>
                                            <span>@item.Start_Date.ToString("dd")</span>
                                            <span>TH @item.Start_Date.ToString("MM")</span>
                                        </div>
                                    </div>
                                    <div class="events-detail">
                                        <a href="">@title</a>
                                        <div class="events-info">
                                            <span>@item.Start_Date.ToString("HH:mm") - @item.End_Date.ToString("HH:mm")</span>
                                        </div>
                                        <div class="events-info">
                                            <span>@item.Location</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <a href="/danh-sach-bai-viet/SUKIEN" class="more-news-btn">Xem tất cả sự kiện</a>
        </div>
    </div>
</div>


<div class="container-xxl container">
    <div class="events-container">
        <div class="events-title title-news_wrapper">
            <h3 class="news-title">Hợp tác</h3>
        </div>
        <div class="cooperate-container">
            <div class="row">
                <div class="col-lg">
                    <a href="" class="cooperate-item">
                        <img src="~/Guest_Assets/Img/log_fpt.png" alt="">
                    </a>

                </div>
                <div class="col-lg">
                    <a href="" class="cooperate-item">
                        <img src="~/Guest_Assets/Img/logo_samsung.png" alt="">
                    </a>

                </div>
                <div class="col-lg">
                    <a href="" class="cooperate-item">
                        <img src="~/Guest_Assets/Img/logo_viettel.png" alt="">
                    </a>

                </div>
                <div class="col-lg">
                    <a href="" class="cooperate-item">
                        <img src="~/Guest_Assets/Img/logo_vnpt.png">
                    </a>

                </div>

            </div>
        </div>
    </div>
</div>

